.footer{
	@include stickyFooter();
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	background: $negro1;  
	margin: auto;
	text-align: center;
	flex-direction: column; 
	padding: 1em 0; 
	justify-content: center; 
	color: gray;
	font-size: .92em; 
	
	.rrss{
	    text-align: center;
	    margin: .5em; 
	    img{
	    	width: 50px;
	    	margin: 0 .3em; 
	    	height: 50px;  
	    }
	}
	p{
		a{
			color: #E45DB7;
			font-weight: bold;
			text-decoration: underline; 
		}
	}
}


